#reloj{
    font-family: sans-serif;
    font-size: 60px;
    text-shadow: 0px 0px 1px #333;
    color: #fff;
}

.reloj-contenedor{
    background-image: linear-gradient(to right, #1e923c, #009858, #009e71, #00a287, #18a69a);
    padding: 25px;
    max-width: 350px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10%;
}

#fecha{
    letter-spacing: 10px;
    font-size: 15px;
}

.animar{
    border: rgb(0, 0, 0) 2px solid;

}